---
import Layout from '../layouts/Layout.astro';
import '@fontsource/black-ops-one';
// Supports weights 100-900
import '@fontsource-variable/montserrat';

import BoxsHome from '../components/BoxsHome.astro';
---

<Layout
 title="Carlos Martinez Construcciones S.R.L - Empresa constructura en seco."
 description='Empresa constructora especializada a la construccion en seco.'
 >
    <section id="home" class="wrap pt-80 py-40">
    
        <div class="content">
            <div class="flex gap-y-2 bg-home justify-center items-center flex-col py-8 w-full h-full text-white">
                <h2 class="text-center text-[48px]">¿Quienes Somos?</h2>    
                <p class="w-[1037px] montserrat">Somos una empresa especializada en construcción en seco, ofreciendo soluciones rápidas, eficientes y de alta calidad para proyectos residenciales, comerciales e industriales. Nos destacamos por el uso de sistemas de construcción modernos como el steel framing, placas de yeso (drywall), y paneles aislantes, que permiten reducir tiempos de obra, minimizar residuos y optimizar costos sin comprometer la seguridad ni el confort.
                </p>  
            </div>
            <BoxsHome />
    
        </div>
    
    </section>
    <h2 class="bg-white text-[35px] text-center py-4">Nuestros trabajos especializados
    </h2> 
    <section id="works-esp" class="gap-0 w-full text-white place-items-center h-[800px] text-center grid grid-cols-[repeat(2,1fr)] grid-rows-[repeat(2,1fr)]">
        <div class="border border-black boxs-works bg-[url('/imgs/works/1.png')] text-white">
            <div class="uno">
                <div class="relative">
                    <small class="absolute top-24 left-60 text-8xl">1</small>
                    <small class="absolute top-48 left-44 text-3xl">Tabiqueria</small>
                </div>
            </div>
        </div>
        <div class="border border-black boxs-works bg-[url('/imgs/works/2.png')] text-white">
            <div class="dos">
                <div class="relative">
                    <small class="absolute top-24 right-72 text-8xl">2</small>
                    <small class="absolute top-48 right-56 text-3xl">Cielorraso</small>
                </div>
            </div>
        </div>
        <div class="border border-black boxs-works bg-[url('/imgs/works/3.png')] text-white">
            <div class="tres">
                <div class="relative">
                    <small class="absolute top-24 left-60 text-8xl">3</small>
                    <small class="absolute top-48 left-44 text-3xl">Revestimientos</small>
                </div>
            </div>
        </div>
        <div class="border border-black boxs-works bg-[url('/imgs/works/4.png')] text-white">
            <div class="cuatro">
                <div class="relative">
                    <small class="absolute top-24 right-72 text-8xl">4</small>
                    <small class="absolute top-48 right-56 text-3xl">Tratamientos <br> Acústicos</small>
                </div>
            </div>
        </div>
    </section>
    <section id="our-works">
        <h3 class="bg-white text-[35px] text-center py-4">Algunas de nuestras obras</h3>
        <div class="h-[250px] bg-black"></div>
    </section>
    <section id="benefits">
        <h4 class="text-[35px] text-center">Beneficios de construir en seco
        </h4>
        <div class="my-10 gap-y-12 mx-5 grid place-items-center gap-x-5 grid-cols-[repeat(auto-fill,minmax(400px,1fr))]">
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Implementación de los más altos estándares de calidad.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Reducción del tiempo de realización.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Mayor protección en la obra.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Limpieza y orden en la construcción.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Compatibilidad con otros sistemas de construcción.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Costos mas bajos.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Utilización de materiales reciclables, respetuosos con el medio ambiente.</p>
            </div>
            <div class="px-3 py-6 rounded-xl bg-boxs-benefits w-[300px] h-[250px] flex flex-col justify-around items-center bg-black text-white">
                <img src="/favicon.svg" alt="Logo CMC SRL" class="w-24" />
                <p class="text-center">Ahorro de energía.</p>
            </div>
        </div>
    </section>
    <section id="form" class="wrap-form py-40">
    
        <div class="content flex justify-center items-center">
            <form class="w-[840px] h-[442px] bg-form flex gap-y-5 gap-2 flex-col py-2 px-5" action="">
                    <h5 class="text-white text-start text-2xl block">Contáctate con nosotros</h5>
                            <div class="flex justify-between gap-x-20">
                                <input placeholder="Nombre y apellido..." class="p-1 rounded-sm w-1/2" type="text">
                                <input placeholder="Email..." class="p-1 rounded-sm w-1/2" type="text">
                            </div>
                            <div class="flex justify-between gap-x-20">
                                <input placeholder="Telefono..." class="p-1 rounded-sm w-1/2" type="text">
                                <input placeholder="M2 a construir..." class="p-1 rounded-sm w-1/2" type="text">
                            </div>
                            <textarea placeholder="Contanos un poco sobre tu proyecto..." class=" p-1 w-full" name="" id="textarea" cols="30" rows="10"></textarea>
                            <div class="flex items-center justify-center">
                                <button class="p-2 w-44 mb-2 rounded-lg text-white font-bold bg-[#21254A] text-sm" type="submit">Enviar</button>
                            </div>
            </form>
        </div>
        
    </section>
</Layout>

<style>
    .boxs-works{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .uno{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(139.26deg, rgba(33, 37, 74, 0.7) 4.17%, rgba(55, 72, 176, 0.7) 95.83%);
        clip-path: polygon(0 0,75% 0, 35% 100%, 0% 100%);
    }
    .dos{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(139.26deg, rgba(33, 37, 74, 0.7) 4.17%, rgba(55, 72, 176, 0.7) 95.83%);
        clip-path: polygon(25% 0,100% 0, 100% 100%, 55% 100%);

    }
    .tres{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(139.26deg, rgba(33, 37, 74, 0.7) 4.17%, rgba(55, 72, 176, 0.7) 95.83%);
        clip-path: polygon(0 0, 35% 0, 76% 100%, 0 100%);
    }
    .cuatro{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(139.26deg, rgba(33, 37, 74, 0.7) 4.17%, rgba(55, 72, 176, 0.7) 95.83%);
        clip-path: polygon(55% 0, 100% 0, 100% 100%, 25% 100%);
    }
    p, button, input, textarea{
            font-family: 'Montserrat Variable', sans-serif;
    }
    .bg-form{
        background: linear-gradient(106.75deg, rgba(33, 37, 74, 0.9) 10.11%, rgba(55, 72, 176, 0.9) 79.1%, rgba(110, 131, 214, 0.9) 96.93%);

    }
    .bg-boxs-benefits{
        background: linear-gradient(180deg, #21254A 0%, #3748B0 80%, #6E83D6 100%);

    }
    .bg-home{
            background: linear-gradient(119.14deg, #21254A 30.15%, #4E61AB 53.57%, #2C377D 69.85%);
            opacity: 80%;
        }
    .wrap{
        position: relative;
    }
    .wrap-form{
        position: relative;
    }
    .wrap-form::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 59%; 
        background-size: cover;
        background-image: url('/imgs/form.png');
        background-repeat: no-repeat;
        background-position: center;
    }
	.wrap::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 59%;
        background-image: url('/imgs/moca-2.png');
        background-repeat: no-repeat;
        background-size: cover;
	}
    .content{
        position: relative;
    }
    :root{
        font-family: "Black Ops One", sans-serif;
    }
</style>
