---

---

<footer class="flex flex-col">
    <div class="py-2 flex flex-col bg-footer">
    <h6 class="text-white mb-2 text-center text-[30px]">Tambien podes contactarnos a traves de</h6>
        <ul class="flex justify-center gap-x-32">
            <li>
                <img class="size-[56px]" src="/favicon.svg" alt="Instagram Icon">
            </li>
            <li>
                <img class="size-[56px]" src="/favicon.svg" alt="Whatsapp Icon">
            </li>
            <li>
                <img class="size-[56px]" src="/favicon.svg" alt="Facebook Icon">
            </li>
            <li>
                <img class="size-[56px]" src="/favicon.svg" alt="Linkedin Icon">
            </li>
        </ul>
    </div>
    <div class="flex justify-between">
        <span>@2024 CMC - Todos los derechos reservados</span>
        <!-- <Logo class="w-12" /> -->
        <div class="flex ">
            <span>Desarrollado por</span>
            <img src="/public/imgs/logo-iweb.png" alt="Logo iWeb" class="w-12" />
        </div>
    </div>
</footer>
<style>
    .bg-footer{
        background: linear-gradient(270deg, #21254A 1.5%, #3748B0 50%, #21254A 100%);
    }
</style>
