---
import Menu from "./Icons/Menu.astro"
import Logo from "./Icons/Logo.astro"
import '@fontsource/black-ops-one';
---

<header class="fixed z-50 flex py-3 gap-x-96 bg-white/70 w-full items-center justify-start text-4xl">
    <Menu class="ml-5 font-extralight" />
    <div class="flex items-center gap-96">
        <Logo   
            alt="Logo CMC SRL"
            class="w-28"
        />
        <h1 class="underline text-black text-2xl font-bold">CARLOS MARTINEZ CONSTRUCCIONES S.R.L</h1>
    </div>
</header>
<style>
    p{
        font-family: "Montserrat Variable", sans-serif;
    }
</style>